[submodule "JavaScript 1/lekce 10 Pole a zpracování dat/JavaScript 1/lekce 10 Pole a zpracování dat/cviceni-palindromy"]
	path = JavaScript 1/lekce 10 Pole a zpracování dat/JavaScript 1/lekce 10 Pole a zpracování dat/cviceni-palindromy
	url = https://github.com/Czechitas-podklady-WEB/cviceni-palindromy.git
[submodule "JavaScript 1/lekce 10 Pole a zpracování dat/cviceni-palindromy"]
	path = JavaScript 1/lekce 10 Pole a zpracování dat/cviceni-palindromy
	url = https://github.com/Czechitas-podklady-WEB/cviceni-palindromy.git
